.legend {
  padding-left: 5px;
}
.legend:hover {
  background: #f1f1f1;
  cursor: pointer;
}

.legend label:hover {
  cursor: pointer;
}

.selected {
  background: #c1c1c1 !important;
}

.closeIcon {
  position: fixed;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
